#clock{
    text-align : center !important;
    font-size: 50px;
    width: 400px;
    margin: auto;
    letter-spacing: 0.3rem;
    background: linear-gradient(90deg, rgba(208,208,255,1) 0%, rgba(255,236,105,1) 50%, rgba(247,150,240,0.8995973389355743) 100%);
    }

label {
    display: block;
    width: 200px;
    padding: 4px 4px;
}
.txt {
    width: 300px;
}
.bnt{
    margin: 14px 208px !important;
    height: 30px;
    width: 100px;
    font-size:15px;
    float: left;
}
select {
    width: 308px !important;
    display: inline-block !important;
}
img.slide {
    width: 710px;
    height: 400px;
}

img.slide:not(:first-child) {
    display: none;
}

.container {
    width: 705px;
    height: 395px;
    margin: 0 auto;
    border: 2px solid #ccc;
    position: relative;
}

/* 2 button change slide: prev and next */
.btn-change {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}

#next, #prev {
    right: 10px;
    background-color: darkgray;
}

/* 4 button corresponding to 4 image */
.change-img {
text-align: center;
margin-top: 1rem;
}

button.btn {
    background: rgb(0, 153, 255);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
    font-weight: bold;
    border: none;
}

button.active {
    background: rgb(7, 101, 163);
    color: white;
}

button.new_page {
    background: rgb(163, 7, 41);
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 15%;
    margin-right: 20px;
}